#layout-nav {
	position: relative;
}
.header {
	flex-basis: 10%;
	padding-top: ($grid-gutter-width-base / 2);
}
.header-menu {
	flex-grow: 1;
	margin-bottom: 0;
	list-style: none;
	max-height: 50px;
	.menu-link {
		display: flex;
		align-items: center;
		padding: 12px 20px;
		color: $brand-gray !important;
		font-family: $menu-font !important;
		&:hover {
			background-color: $gray-lightest;
			text-decoration: none;
		}
	}
	.header-search {
		&:hover, &.active  {
			flex-grow: 1;
			input {
				display: inline-block;
				border-bottom: 1px solid $gray-lighter;
			}
		}
		form, input {
			flex-grow: 1;
		}
		input {
			display: none;
			border: none;
			margin-left: $spacer; 
			color: $brand-gray;
			font-weight: 300;
			box-shadow: none;
			outline: none;
			background: transparent;
		}
	}
}
.header-logo {
	width: 100%;
	margin-right: 10px;
	img {
		width: 100%;
	}
	@include media-breakpoint-down(md) {
		width: 100px;
	}
}