.blog-post {
	padding: 110px 0;
	&:first-child {
		padding-top: 60px;
	}
}
.video-review {
	padding-left: 1rem;
}
.video-title {
	h5 {
		margin-bottom: 0;
	}
}
.gray-link {
	color: #2e2e2e;
	text-decoration: none !important;
	&:hover * {
		cursor: pointer;
		color: $brand-gray;
	}
}
.divider:last-of-type {
	display: none;
}

// Large Screen
@include media-breakpoint-down(md) {
	.video-review {
		padding-top: 1rem;
		padding-left: 0;
	}
}

