.blog-post {
	padding: 110px 0;
	&:first-child {
		padding-top: 60px;
	}
}
.video-review {
	padding-left: 1rem;
}
.video-title {
	h5 {
		margin-bottom: 0;
	}
}
.divider:last-of-type {
	display: none;
}

// Large Screen
@include media-breakpoint-down(md) {
	.video-review {
		padding-top: 1rem;
		padding-left: 0;
	}
}

