.video-review {
	padding-top: 1rem;
}

.video-info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;

	// To align the title with the ~top of the video
	margin-top: -5px;
}
